{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}     <title>Update Question | MCQ Editor</title> {% endblock %}
{% block content %}
{{ form.media }}
<div class="row">
	<div class="col-md-8">
		<div class="card card-body">
			<form action="" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				{{form|crispy}}

				<input type="submit" name="Submit" class="btn btn-primary">
			</form>

		</div>
	</div>
</div>

<script>

	window.onload = function (){
		var a = document.getElementById('sidebarToggleTop')
		a.click()
	}

</script>
{% endblock %}

