{% load static %}

<textarea name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
{% if widget.value %}{{ widget.value }}{% endif %}</textarea>


<style>
div#mceu_16 {
    width: calc(100% - 170px) !important;
    margin-left: 170px;
}
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.9.5/tinymce.min.js" integrity="sha512-sQnW5qN+dLteqpWzntpHUxg/yORBRCP5dKqYTfaCFXbSv0/LaSXG/j+1djGRZHNcpiUklpSgqmtt/7W9T6b+LQ==" crossorigin="anonymous"></script>
<script src="{% static 'ascii-latex.js' %}"></script>
<script src="{% static 'index.js' %}"></script>